<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="test-string" content="test-layout-applied" />
    </head>
    <body class="container">
        <main><%- body %></main>
    </body>
</html>
